    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      scroll-behavior: smooth;
      font-family: Arial, sans-serif;
    }

    body {
      background: #0f172a;
      color: white;
    }

    header {
      position: fixed;
      width: 100%;
      background: #1e293b;
      padding: 15px 0;
      z-index: 1000;
    }

    nav ul {
      display: flex;
      justify-content: center;
      list-style: none;
    }

    nav ul li {
      margin: 0 15px;
    }

    nav ul li a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      transition: 0.3s;
    }

    nav ul li a:hover {
      color: #38bdf8;
    }

    section {
      padding: 80px 20px;
      min-height: 100vh;
    }

    .hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to right, #d35705, #d70ca8);
      text-align: center;
    }

    .hero h1 {
      font-size: 3rem;
      animation: fadeIn 2s ease-in-out;
    }

    .hero p {
      margin-top: 10px;
      font-size: 1.2rem;
    }

    .btn {
      margin-top: 20px;
      padding: 12px 25px;
      border: none;
      background: #0792dd;
      color: black;
      font-size: 16px;
      border-radius: 25px;
      cursor: pointer;
      transition: 0.3s;
    }

    .btn:hover {
      background: #0b755c;
    }

    h2 {
      text-align: center;
      margin-bottom: 30px;
      color: #38bdf8;
    }

    .about, .skills, .projects, .contact {
      max-width: 900px;
      margin: auto;
      text-align: center;
    }

    .skills-list span {
      display: inline-block;
      background: #1e293b;
      padding: 10px 15px;
      margin: 8px;
      border-radius: 20px;
      transition: 0.3s;
    }

    .skills-list span:hover {
      background: #38bdf8;
      color: black;
      transform: scale(1.1);
    }

    .projects-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }

    .project-card {
      background: #1e293b;
      padding: 20px;
      border-radius: 15px;
      transition: 0.3s;
    }

    .project-card:hover {
      transform: translateY(-10px);
      background: #334155;
    }

    .contact form input, 
    .contact form textarea {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 10px;
      border: none;
    }

    footer {
      background: #1e293b;
      text-align: center;
      padding: 15px;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(20px); }
      to { opacity: 1; transform: translateY(0); }
    }

    @media(max-width:768px){
      .hero h1{
        font-size:2rem;
      }
    }
